html{
    font-size: 62.5%;  
}
header {
    background: lightgreen;
    }
h1 {
    color: purple;
    font-size: 6rem;
}    
h1:hover {
    font-size: 8rem;
    background: purple;
    color: rgb(209, 139, 9);
}
nav {
    font-size: 2rem;
    padding: 2rem;
}

.home {
    border: .5rem solid #e06f0b;
}

.about {
    border: .5rem solid #e06f0b;
}

.contact {
    border: .5rem solid #e06f0b;
}

.projects {
    border: .5rem solid #e06f0b;
}

.container1 {
    display:flex;
}
.toptext {
padding: 2rem;
}
h2 {
    font-size: 3rem;
    }

#myprojects {
    font-size: 3rem;  
}
.toptext p {
    font-size: 2rem;
    padding-top: 2rem;
}

.gallery {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: green;
    font-size: 2rem;
}
footer {
    font-size: 2rem;
    display:flex;
    background: lightgreen;
    color:purple;
    flex-direction: column;
}

.container {
    justify-content: center;
}

@media (max-width:500px){
    body{
        width: 100%;
    }
    header{
        width: 100%;
        }
    nav {
        width: 100%;
        display:flex;
        flex-direction: column;
    }
    .home{
        width:70%;
        margin:10%;
        padding:1%;
    }
    .about{
        width:70%;
        margin:10%;
        padding:1%;
    }
    .contact{
        width:70%;
        margin:10%;
        padding:1%;
    }
    .projects{
        width:70%;
        margin:10%;
        padding:1%;
    }
    img {
        width:100%;
        
    }
    .container1{
        display:flex;
        flex-flow: column wrap;
        margin:auto;
    }
    figure{
        max-width:40%;
        display:flex;
        flex-flow: row wrap;
        margin:auto;
    }
    }

@media(max-width:800px){
    header{
        background: lightskyblue;
    }
    h2{
        color: #ea1e1e;
    }
    .toptext{
        background: rgb(238, 172, 172);
    }
    .gallery{
        border: 5px solid purple;
    }
    figure{
        border: 3px dotted lightskyblue;
    }
    figure:hover{
        animation-name: spin;
        animation-duration: 5000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
    }
}

button:hover {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

